<div class="container p-3">
  <div class="row g-3">
    <div class="col-auto">
      <form action="/answer" data-turbo="false">
        <input class="form-control" type="text" name="question" placeholder="What's on your mind?">
    </div>
    <div class="col-auto">
        <input class="btn btn-primary" type="submit" value="Ask!">
    </div>
      </form>
    </div>
  </div>